
<div class="section">
   
  <div class="slider">
    <div class="container slidercontent">
      <h1 class="hero">{{title}}</h1>
       <h6 class="hero">{{subTitle}}</h6>
    </div>
  </div>
</div>

<div class="section bg">
  <div class="container">
    <h1>{{galleryTitle}}</h1>
    <h5 style="text-align: center;">{{gallerySubTitle}}</h5>

  <a href="/img1"><div class="col three bg nopad pointer">
       <div class="imgholder"><img src="/images/img_1.jpg"></div>
      <h1 class="feature">Acanthamoebiasis</h1>
      <h6>This tiny ameba can affect the eye, the skin, and the brain. It exists all over the world in water and soil. Individuals can become infected if they clean contact lenses with tap water.</h6>
    </div></a>

      <a href="/img2"><div class="col three bg nopad pointer">
       <div class="imgholder"><img src="/images/img_2.jpg"></div>
      <h1 class="feature">Babesiosis</h1>
      <h6>This disease that comes from parasites that are spread by ticks. It affects the red blood cells. The risk is highest in summer in the Northeast and upper Midwest of the United States.</h6>
    </div></a>

      <a href="/img3"><div class="col three bg nopad pointer">
       <div class="imgholder"><img src="/images/img_3.jpg"></div>
      <h1 class="feature">Balantidiasis</h1>
      <h6>This is passed on by Balatidium coli, a single-cell parasite that usually infects pigs but can, in rare cases, cause intestinal infection in humans. It can be spread through direct contact.</h6>
    </div></a>

      <a href="/img4"><div class="col three bg nopad pointer">
       <div class="imgholder"><img src="/images/img_4.jpg"></div>
      <h1 class="feature">Blastocystosis</h1>
      <h6>This affects the intestines. The blastocystis enters humans through the fecal-oral route. A person can get it by eating food or drink contaminated with human or animal feces.</h6>
    </div></a>

      <a href="/img5"><div class="col three bg nopad pointer">
       <div class="imgholder"><img src="/images/img_5.jpg"></div>
      <h1 class="feature">Coccidiosis</h1>
      <h6>This affects the intestines. Coccidia is passed on through the fecal-oral route. It is found around the world. It can also affect dogs and cats, but these are different kinds.</h6>
    </div></a>

      <a href="/img6"><div class="col three bg nopad pointer">
       <div class="imgholder"><img src="/images/img_6.jpg"></div>
      <h1 class="feature">Amoebiasis</h1>
      <h6>This is caused by the parasite Entamoeba histolytica. It affects the intestines. It is more likely in tropical regions and in areas with high population density and poor sanitation</h6>
    </div></a>
   
    

<div class="section">
  <div class="container">
    <h1 class="reset">Contract Any Parasite You Please</h1>
  </div>
</div>
<div class="section">
  <div class="footer">
    <div class="container white">
      <div class="col four left">
        <h2>Parasites</h2>
        <h5>A parasite is an organism that lives within or on a host. The host is another organism.</h5>
        <h5>The parasite uses the host's resources to fuel its life cycle. It uses the host's resources to maintain itself.</h5>
        <h5>Parasites are not a disease, but they can spread diseases. Different parasites have different effects.</h5>
      </div>
      <div class="col four left">
        <h2>Types</h2>
        <h5>Protozoa: Examples include the single-celled organism known as Plasmodium. A protozoa can only multiply, or divide, within the host.</h5>
        <h5>Helminths: These are worm parasites. Schistosomiasis is caused by a helminth. Other examples include roundworm, pinworm, trichina spiralis, tapeworm, and fluke.</h5>
        <h5>Ectoparasites: These live on, rather than in their hosts. They include lice and fleas.</h5>
      </div>
      <div class="col four left">
        <h2>Direct</h2>
        <h5>Directly transmitted parasites, not requiring a vector to reach their hosts, include parasites of terrestrial vertebrates such as lice and mites; marine parasites such as copepods and cyamid amphipods; monogeneans; and many species of nematodes, fungi, protozoans, bacteria, and viruses. Whether endoparasites or ectoparasites, each has a single host species.</h5>
        
      </div>
      <div class="col four left">
        <h2>Who?</h2>
        <h5> The many variations on parasitic strategies are hyperparasitism, social parasitism, brood parasitism, kleptoparasitism, sexual parasitism, and adelphoparasitism.</h5>
        
      </div>
      <div class="group"></div>
    </div>
  </div>
</div>