<div class="paraback" style="background-image: url(/images/{{img}});">

</div>
<div class="para">
<!-- optional image here -->
<h1 class="paraName" style="text-align: center;">{{name}}</h1>
<img src="/images/{{img}}" alt="user image" class="paraImage">
<h5 class="paraBio">{{bio}}</h5>
</div>